/* 
  https://coolors.co/32373b-4a5859-bc2c1a-d4dfc7-f08a4b
  Onyx: #32373b;
  Feldgrau: #4a5859;
  International Orange Engineering: #ec4e20;
  Beige: #d4dfc7;
  Mango tango: #f08a4b;
*/

/* index.html */
/*------------------------------------Landing Section----------------------------------*/
header {
  height:100px;
  background: #4a5859;
}
header h2 {
  display: inline-block;
  margin: 0;
  padding: 30px 0;
  color:#f2eae3;
}
#logo
{
  margin: 0 10px 10px; /*top,right & left, bottom*/
  cursor:pointer;
  width: 80px;
}
nav {
  float: right;
  margin: 35px;
}
#navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  float: right;
}
#navbar a {
  text-decoration: none;
  color:#f2eae3;
  font-size: 20px;
  font-weight: bold;
  margin-right:20px;
}
#navbar a:hover {
  color: #f4b860;
  border-bottom: 2px solid #f4b860;
  padding-bottom: 4px;
}
.landing-section {
  width: 100%;
  height: 600px;
  background-color: black;
  overflow: hidden;
  position: relative; 
}
figure img {
  height: 600px;
  width: 100%;
  opacity: 0.3;
}
.landing-section h1 {
  position: absolute;
  top: 20vw;
  left: 20vw;
  color:#f2eae3;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 60px;
  text-align: center;
}
/*---------------------------------------------------------------------------------------*/
/*-------------------------------About Us------------------------------------------------*/
.about {
  background-color:#f08a4b;
  color: #f2eae3;
  font-size: 25px;
  overflow: auto;
}
.about img {
  float: left;
  margin: 20px;
}
.about-content {
  margin: 20px;
}
.about-content h1 {
  text-align:center;
}

/* html#home
{
  Ensure page covers entire viewpoint
  min-height: 100%;
  max-width: 100%;
  background-image: url(../img/pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
} */
/* Need a relative container around your image and then you set your icon to be position: absolute. */
/* #homepage
{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 250px;
  left: 200px;
  color :#F2EAE3;
}
#homepage h1,#homepage h3
{
  font-size:50px;
  text-align:center;
}
#homepage button
{
  margin-top:100px;
  margin-left: 350px;
}
#homepage img
{ 
  margin-top: 20px;
  margin-left: 410px;
}
.button1
{
  max-width: 100%;
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.button1:focus 
{
  text-decoration: none;
}
.button1:hover 
{
  text-decoration: none;
}
.button1:active 
{
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}
.button1:not([disabled]):active 
{
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .button1 {
    padding: 12px 50px;
  }
}
#mouse
{
  animation : bounce 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes bounce 
{
  from {transform: translate3d(0,0,0);}
  to {transform: translate3d(0,25px,0);} 
} */
/* Credit to Erik Terwan*/
/* nav 
{
  position: absolute;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  left: 50px;
  z-index: 1;
}
#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: tomato;
} */
/* #menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer; */
  /*opacity: 0;  hide this */
  /*z-index: 2;  and place it over the hamburger
}*/
/* Just a quick hamburger */
/* #menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  top: 10px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
} */
/* Transform all the slices of hamburger into a crossmark. */
/* #menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
} */
/* But let's hide the middle one. */
/* #menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
} */
/* Ohyeah and the last one should go the other direction */
/* #menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
} */
/* Make this absolute positioned at the top left of the screen */
/* #menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; */
  /* to stop flickering of text in safari */
  /* transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
} 
#menu li
{
  padding: 10px 10px;
  font-size: 22px;
} */
/* And let's slide it in from the left */
/* #menuToggle input:checked ~ ul
{
  transform: none;
} */
 
/* order.html */
html#order
{
  min-height:100%;
  background-image: url(../img/pizza-order.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position:relative;
}
#order-page
{
  position: absolute;
  top: 70px;
  left:50px;
  right: 50px;
}
#order-now h2 
{
  text-align: center;
}
#toppings
{
  text-align: center;
}
#toppings label
{
  margin-right: 15px;
  padding-bottom: 15px;
  font-size: 25px;
}
#order-summary
{
  display:none;
}
.card
{
  background-color: #232323;
  color :#F2EAE3;
  font-size:20px;
  opacity:0.75;
  margin-bottom:70px;
}
.table 
{
  color :#F2EAE3;
}
.button2 
{
  margin-top: 10px;
  margin-right: 10px;
  float:right;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 28px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}
.button2:hover 
{
  background: #F6F9FE;
  color: #174ea6;
}
.button2:active 
{
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}
.button2:focus 
{
  outline: none;
  border: 2px solid #4285f4;
}
.button2:not(:disabled) 
{
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.button2:not(:disabled):hover 
{
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}
.button2:not(:disabled):focus 
{
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.button2:not(:disabled):active 
{
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}
.button2:disabled
{
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
#delivery,#proceed-button
{
  display:none;
}
 #delivery h1, #delivery p
{
  text-align: center;
}
#address-info
{
  display: none;
}
@media only screen and (max-width:467px)
{
  html#home
  {
    min-height:100%;
    max-width:100%;
  }
  #homepage h1, #homepage h3
  {
    font: size 10vw;
  }
}
