/* 
  https://coolors.co/32373b-4a5859-bc2c1a-d4dfc7-f08a4b
  Onyx: #32373b;
  Feldgrau: #4a5859;
  International Orange Engineering: #ec4e20;
  Beige: #d4dfc7;
  Mango tango: #f08a4b;
*/
:root {
  --onyx: #32373b;
  --headerBackground: #4a5859;
  --aboutFontColour: var(--headerBackground);
  --aboutBackground: #f08a4b;
  --footerFontColour: var(--aboutBackground);
  --mainFontColour: #f2eae3;
  --arrowFontColour: #fbf5f3;
  --menuBackground: #80ab82;
  --menuFontColour: #242124;
}

/* index.html */
/*------------------------------------Global Styles------------------------------------*/
html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.dark-background {
  width: 100%; /*width fills whole container/viewport*/
  height: 600px;
  background-color: black;
  position: relative; 
}

figure img {
  height: 600px;
  width: 100%;
  opacity: 0.3;
}

/*------------------------------------Landing Section----------------------------------*/
header {
  height:100px;
  background: var(--headerBackground);
}

header h2 {
  display: inline-block;
  margin: 0;
  padding: 30px 0;
  color:var(--mainFontColour);
}
#logo
{
  margin: 0 10px 10px; /*top,right & left, bottom*/
  cursor:pointer;
  width: 80px;
}
nav {
  float: right;
  margin: 35px;
}
#navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  float: right;
}
#navbar a {
  text-decoration: none;
  color:var(--mainFontColour);
  font-size: 20px;
  font-weight: bold;
  margin-right:20px;
}
#navbar a:hover {
  color: var(--aboutBackground);
  border-bottom: 2px solid var(--aboutBackground);
  padding-bottom: 10px;
}
#landing-section h1 {
  position: absolute;
  top: 15vw;
  left: 20vw;
  color:var(--mainFontColour);
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 60px;
  text-align: center;
}

/*-------------------------------About Us------------------------------------------------*/
#about-section {
  background-color: var(--aboutBackground);
  color: var(--aboutFontColour);
  font-size: 25px;
  overflow: auto;
  padding: 30px;
}
#about-section img {
  float: left;
  margin: 20px;
}
.about-content {
  margin: 20px;
}
.about-content h1 {
  text-align:center;
}
/*--------------------------------- Menu --------------------------------------------------*/
#pizza-menu {
  max-height: 1000px;
  background-color: var(--headerBackground);
  position: relative;
}
.menu-heading {
  font-size: 3.0rem;
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
  color: var(--mainFontColour);
  padding: 20px;
}
.image-carousel{
  max-width: 80vw;
  max-height: 80%;
  position: relative;
  margin: auto;  /* centers the container */
  padding-bottom: 20px;
}
.pizza-container {
  display: none; /* hide images by default*/
}
.pizza-container.active {
  display: block; /* display image*/
}
.pizza-container img {
  width: 100%;
  height: 650px;
}
.back-btn, .forward-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  z-index: 20;
  margin: 20px;
  padding: 17px;
  color: var(--arrowFontColour);
  font-weight: bold;
  font-size: 3.0rem;
  transition: 0.4s ease;
  user-select: none;
}
.back-btn:hover, .forward-btn:hover {
  transform: scale(1.2);
}
.forward-btn {
  right: 0; /* Move forward button to the right */
} 
.pizza-name {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background-color: rgb(36, 33, 36, 0.5);
  font-size: 3.5rem;
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  text-align: center;
  color: var(--arrowFontColour);
  letter-spacing: 4px;
}
/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

.navigation-dots {
  background-color: var(--headerBackground);
  text-align: center;
}
.dot {
  cursor: pointer;
  width: 18px; height: 18px;
  display: inline-block;
  margin: 0 4px 10px 4px;
  background-color: var(--arrowFontColour);
  border-radius: 50%;
  transition: background-colour 0.6s ease;
}
.dot.active, .dot:hover {
  background-color: var(--aboutBackground);
}

/*----------------------------------Order Section-----------------------------------------*/
#order-section {
  position: relative;
}

#order-section h1 {
  position: absolute;
  top: 20vw;
  left: 20vw;
  color: var(--mainFontColour);
  font-size: 60px;
}

#order-button {
  position: absolute;
  bottom: 150px;
  left: 42vw;
}
.button1
{
  max-width: 100%;
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.button1:focus 
{
  text-decoration: none;
}
.button1:hover 
{
  text-decoration: none;
}
.button1:active 
{
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}
.button1:not([disabled]):active 
{
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .button1 {
    padding: 12px 50px;
  }
}
#mouse
{
  position: absolute;
  bottom: 70px;
  left: 46vw;
  animation : bounce 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes bounce 
{
  from {transform: translate3d(0,0,0);}
  to {transform: translate3d(0,25px,0);} 
} 

/*--------------------------------Footer Section------------------------------------*/

footer {
  background-color: var(--headerBackground);
  color: var(--footerFontColour);
  padding: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2,2fr);
  column-gap: 20px;
}

#contact {
  border-right: 3px solid var(--footerFontColour);
}

#contact-info {
  margin-top: 20px;
}

#contact-info ul {
  list-style: none;
  color: var(--mainFontColour);
  font-size: 20px;
}

#contact-info a {
  color: var(--mainFontColour);
}

#contact-info a:hover{
  color: var(--aboutBackground);
  text-decoration: none;
}

#subscribe-button {
  margin-top: 5px;
}

.button12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  background: var(--aboutBackground);
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: var(--mainFontColour);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

#location h2 {
  text-align: center;
}

iframe {
  width: 500px;
  height: 350px;
}

#social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right:50px;
  margin: 20px;
}

.fa {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: var(--aboutBackground);
  color: var(--mainFontColour);
  width: 50px;
}
.fa:hover {
  color: var(--mainFontColour);
}

#copyright {
  text-align: center;
  padding-right: 40px;
  margin-top:20px;
}

/* order.html */
html#order
{
  min-height:100%;
  background-image: url(../img/pizza-order.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position:relative;
}
#order-page
{
  position: absolute;
  top: 70px;
  left:50px;
  right: 50px;
}
#order-now h2 
{
  text-align: center;
}
#toppings
{
  text-align: center;
}
#toppings label
{
  margin-right: 15px;
  padding-bottom: 15px;
  font-size: 25px;
}
#order-summary
{
  display:none;
}
.card
{
  background-color: #232323;
  color: var(--mainFontColour);
  font-size:20px;
  opacity:0.75;
  margin-bottom:70px;
}
.table 
{
  color: var(--mainFontColour);
}
.button2 
{
  margin-top: 10px;
  margin-right: 10px;
  float:right;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 28px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}
.button2:hover 
{
  background: #F6F9FE;
  color: #174ea6;
}
.button2:active 
{
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}
.button2:focus 
{
  outline: none;
  border: 2px solid #4285f4;
}
.button2:not(:disabled) 
{
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.button2:not(:disabled):hover 
{
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}
.button2:not(:disabled):focus 
{
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.button2:not(:disabled):active 
{
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}
.button2:disabled
{
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
#delivery,#proceed-button
{
  display:none;
}
 #delivery h1, #delivery p
{
  text-align: center;
}
#address-info
{
  display: none;
}
@media only screen and (max-width:467px)
{
  html#home
  {
    min-height:100%;
    max-width:100%;
  }
  #homepage h1, #homepage h3
  {
    font: size 10vw;
  }
}
